.navbar {
  display: flex;
  justify-content: space-between;
}
i {
  font-size: 25px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #5880a0;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  color: #cc8a4d;
}
span {
  font-family: "Modak", cursive;
  color: #5880a0;
  font-size: 2.5rem;
}
h3 {
  color: #cc8a4d;
}
