<div class="search text-center">
  <div class="overlay">
    <h3 class="text-capitalize">
      the fastest way to <br />
      find a github user online!
    </h3>
    <div class="container">
      <form>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            #name
          />
        </div>
        <div>
          <button type="submit" (click)="search(name.value)" class="btn">
            <i class="fas fa-search"></i>Search
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col-md-5"></div>
  </div>
</div>
