<div class="search text-center">
  <div class="overlay">
    <h3 class="text-capitalize">
      the fastest way to <br />
      find a github user online!
    </h3>
    <div class="container">
      <form>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="userName"
            name="userName"
            #name
            placeholder="Username..."
            required
          />
        </div>
        <div>
          <button
            type="submit"
            (click)="search(name.value); toogle()"
            class="btn"
          >
            <i class="fas fa-search"></i>Search
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container display mt-3 mb-3">
  <h4 class="text-center">Search Profile</h4>
  <div *ngIf="response" class="row display-row">
    <div class="col-md-6">
      <img src="{{ response.avatar_url }}" id="avatar" alt="Image" />
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span><i class="far fa-user"></i></span> Name :
              <span> {{ response.name }}</span>
            </li>
            <li class="list-group-item">
              <span><i class="fas fa-id-card-alt"></i></span> Id :
              <span> {{ response.id }}</span>
            </li>
            <li class="list-group-item">
              <span><i class="far fa-folder-open"></i></span> No. of Repos :
              <span>{{ response.public_repos }}</span>
            </li>
            <li class="list-group-item">
              <span><i class="fas fa-users"></i></span> No. of Followers :
              <span> {{ response.followers }}</span>
            </li>
          </ul>
        </div>
        <div class="card-footer">
          <button (click)="getRepository()" class="btn">
            Show Repositories <i class="far fa-arrow-alt-circle-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showMe">
    <div *ngFor="let user of user" class="row display-row">
      <div class="col-md-6">
        <img src="{{ user.avatar }}" id="avatar" alt="Image" />
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span><i class="far fa-user"></i></span> Name :
                <span> {{ user.name }}</span>
              </li>
              <li class="list-group-item">
                <span><i class="fas fa-id-card-alt"></i></span> Id :
                <span> {{ user.id }}</span>
              </li>
              <li class="list-group-item">
                <span><i class="far fa-folder-open"></i></span> No. of Repos :
                <span>{{ user.repo }}</span>
              </li>
              <li class="list-group-item">
                <span><i class="fas fa-users"></i></span> No. of Followers :
                <span> {{ user.followers }}</span>
              </li>
            </ul>
          </div>
          <div class="card-footer">
            <button class="btn">
              <a routerLink="/repo" routerLinkActive="active"
                >Show Repositories <i class="far fa-arrow-alt-circle-right"></i
              ></a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <h3 class="text-center">Repositories</h3>
  <div *ngFor="let repo of repos">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <span><i class="far fa-calendar"></i></span>
                  Date Created :
                  <span>{{ repo.created_at | date }}</span>
                </li>
                <li class="list-group-item">
                  <span><i class="fas fa-file-signature"></i></span>
                  Repo Name :
                  <span>{{ repo.name }}</span>
                </li>
                <li class="list-group-item">
                  <span><i class="far fa-clipboard"></i></span>
                  Description :
                  <span>{{ repo.description }}</span>
                </li>
                <li class="list-group-item">
                  <span><i class="fas fa-cogs"></i></span>
                  Technology Used :
                  <span>{{ repo.language }}</span>
                </li>
              </ul>
            </div>
            <div class="card-footer">
              <a target="_blank" href="{{ repo.html_url }}"
                ><button class="btn">View Repo</button></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
